body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin-top: 50px;
}

.cryptoInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greenCol {
  background-color: #caffca;
}
.redCol {
  background-color: #ffafaf;
}

.rowClickable {
  cursor: pointer;
}

.converter {
  position: fixed;
}

.outPutText {
  margin-top: 20px !important;
  border-radius: 4px;
  background-color:#212049;
  color: white;
}
